<!DOCTYPE html>
<html ng-app>
	<head>
		<title>View, Controllers, and Scope</title>
	</head>
	<body>
		<div class="container" ng-controller="SimpleController">
			Name:
			<br>
			<input type="text" ng-model="name">
			<ul>
				<li ng-repeat="c in customers | filter:name | orderBy:'city'"> {{c.name | uppercase}} - {{c.city | lowercase}} </li>
			</ul>
		</div>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
	<script>
		function SimpleController($scope) {
			$scope.customers = [
				{name:'Mike',city:'San Francisco'},
				{name:'John',city:'Boulder'},
				{name:'Jake',city:'New York'},
				{name:'Jake',city:'Atlanta'}
			]
		}
	</script>
	</body>
</html>